<% if user_signed_in? == false %>
  <%= render 'shared/navbar' %>
<% end %>

<div class="body-container">
  <div class="dashboard-search">
    <input class="form-control" type="search" placeholder="Search for stuff" arialabel="search">
    <button class="btn btn-primary" type="submit" arialabel="search">Search</button>
  </div>

  <div class="row row-cols-4 categories">
    <% categories = ['bicycles', 'electronics', 'home', 'pets', 'sports', 'vehicles', 'work', 'boats'] %>
    <% categories.each do |cat_name| %>
      <% category = Category.find_by(category_name: cat_name) %>
      <div class="col category">
        <%= link_to category_path(category), class: "category-link" do %>
          <i class="<%= category.fa_icon %>"></i>
          <span><%= category.category_name %></span>
        <% end %>
      </div>
    <% end %>
  </div>

  <h2>Trending</h2>
  <div class="row row-cols-3 all-posts">
    <%# creating an array of n unique random numbers in an interval %>
    <% (1..81).to_a.sort{ rand() - 0.5 }[0...18].each do |rand| %>
      <% random_post = Post.find(rand) %>
      <div class="col all-posts-card">
        <%= link_to post_path(random_post), class: "all-posts-link" do %>
          <% if random_post.image_url == nil %>
            <%= image_tag 'https://exploretryon.com/wp-content/uploads/2018/08/ET-IMAGE-COMING-SOON-1000.jpg', alt: 'Photo coming soon' %>
          <% else %>
            <%= image_tag random_post.image_url, alt: 'all-posts-photo' %>
          <% end %>
          <p class="all-posts-location">Oslo</p>
          <p class="all-posts-description"><%= random_post.post_title.capitalize %></p>
          <span>€ <%= random_post.price %></span>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
