<div class="body-container">
  <div class="dashboard-search">
    <input class="form-control" type="search" placeholder="Search for stuff" arialabel="search">
    <button class="btn btn-primary" type="submit" arialabel="search">Search</button>
  </div>

  <div class="row row-cols-4 categories">

    <div class="col">
      <a href="#" class="category-link">
        <i class="fa-solid fa-bicycle"></i>
        <span>Bicycles</span>
      </a>
    </div>
    <div class="col">
      <a href="#" class="category-link">
        <i class="fa-solid fa-mobile"></i>
        <span>Electronics</span>
      </a>
    </div>
    <div class="col">
      <a href="#" class="category-link">
        <i class="fa-solid fa-house-chimney-window"></i>
        <span>Home</span>
      </a>
    </div>
    <div class="col">
      <a href="#" class="category-link">
        <i class="fa-solid fa-dog"></i>
        <span>Pets</span>
      </a>
    </div>
    <div class="col">
      <a href="#" class="category-link">
        <i class="fa-solid fa-volleyball"></i>
        <span>Sports</span>
      </a>
    </div>
    <div class="col">
      <a href="#" class="category-link">
        <i class="fa-solid fa-car-side"></i>
        <span>Vehicles</span>
      </a>
    </div>
    <div class="col">
      <a href="#" class="category-link">
        <i class="fa-solid fa-briefcase"></i>
        <span>Work</span>
      </a>
    </div>
    <div class="col">
      <a href="#" class="category-link">
        <i class="fa-solid fa-sailboat"></i>
        <span>Boats</span>
      </a>
    </div>
  </div>

  <div class="row row-cols-3 trending">

    <div class="col trending-card">
      <a href="#" class=" trending-link">
        <%= image_tag 'example_ad.jpg', alt: 'trending-photo' %>
        <p class="trending-location">Location</p>
        <p class="trending-description">Description</p>
      </a>
    </div>
    <div class="col trending-card">
      <a href="#" class=" trending-link">
        <%= image_tag 'example_ad.jpg', alt: 'trending-photo' %>
        <p class="trending-location">Location</p>
        <p class="trending-description">Description</p>
      </a>
    </div>
    <div class="col trending-card">
      <a href="#" class=" trending-link">
        <%= image_tag 'example_ad.jpg', alt: 'trending-photo' %>
        <p class="trending-location">Location</p>
        <p class="trending-description">Description</p>
      </a>
    </div>
    <div class="col trending-card">
      <a href="#" class=" trending-link">
        <%= image_tag 'example_ad.jpg', alt: 'trending-photo' %>
        <p class="trending-location">Location</p>
        <p class="trending-description">Description</p>
      </a>
    </div>
    <div class="col trending-card">
      <a href="#" class=" trending-link">
        <%= image_tag 'example_ad.jpg', alt: 'trending-photo' %>
        <p class="trending-location">Location</p>
        <p class="trending-description">Description</p>
      </a>
    </div>
    <div class="col trending-card">
      <a href="#" class=" trending-link">
        <%= image_tag 'example_ad.jpg', alt: 'trending-photo' %>
        <p class="trending-location">Location</p>
        <p class="trending-description">Description</p>
      </a>
    </div>



  </div>
</div>
