<div class="body-container">
  <div class="new-post" data-controller="new-post">
    <h2>Create a new post</h2>
    <%= simple_form_for @post, html: { class: 'form-horizontal' } do |f| %>
      <%= f.input :post_title, label: 'Title' %>
      <%= f.input :post_body, as: :text, label: 'Body' %>
      <div class="d-flex">
        <div class="me-3 price-field">
          <%= f.input :price, label: 'Price' %>
        </div>
        <div class="mb-3 me-3 select-cat">
          <label class="form-label string optional" for="post_category_id">Category</label>
          <select data-action="change->new-post#changeSub" data-new-post-target="category" class="form-control" id="category-select" name="post[category_id]">
            <option value="">Select a category</option>
          </select>
        </div>
        <div class="mb-3 select-sub">
          <label class="form-label string optional" for="post_sub_category_id">Subcategory</label>
          <select data-new-post-target="subcategory" class="form-control" id="subcategory-select" name="post[sub_category_id]">
            <option value="">Select a subcategory</option>
          </select>
        </div>
      </div>
      <%= f.button :submit, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
