<div class="post-container">
  <div class="post">
    <div class="browse">
      <p>
        <%= link_to @category_name, category_path(@category) %>
        <i class="fa-solid fa-arrow-right ms-2 me-2"></i>
        <%= link_to @sub_category_name, category_sub_path(@sub_category, @category) %>
      </p>
    </div>

    <%# image %>
    <% if @post.image_url == nil %>
      <%= image_tag 'https://exploretryon.com/wp-content/uploads/2018/08/ET-IMAGE-COMING-SOON-1000.jpg', alt: 'Photo coming soon' %>
    <% else %>
      <%= image_tag @post.image_url, alt: @sub_category_name %>
    <% end %>

    <div class="price">
      <span>For sale</span>
      <p>€ <%= @post.price %></p>
      <%= link_to 'Contact seller', "mailto:#{@seller.email}", class: "btn btn-primary", role: "button" %>
    </div>

    <div class="post-info">
      <h1><%= @post.post_title %></h1>
      <h2>Description</h2>
      <p><%= @post.post_body %></p>
    </div>

  </div>
</div>
