<div class="sub-category-container">
  <div class="dashboard-search d-none">
    <input class="form-control" type="search" placeholder="Search for stuff" arialabel="search">
    <button class="btn btn-primary" type="submit" arialabel="search">Search</button>
  </div>
  <div class="row row-cols-4 sub-categories">
    <% @sub_categories.each do |sub| %>
      <div class="col sub-category">
        <%= link_to category_sub_path(sub), class: "sub-category-link" do %>
            <i class="<%= sub.fa_icon %>"></i>
            <span><%= sub.category_name.capitalize %></span>
        <% end %>
      </div>
    <% end %>
  </div>

  <h2><%= @sub_category.category_name.capitalize %></h2>
  <div class="row row-cols-3 all-posts">
    <% @posts.each do |post| %>
      <div class="col all-posts-card">
        <%= link_to post_path(post), class: "all-posts-link" do %>
          <% if post.image_url == nil %>
            <%= image_tag 'https://exploretryon.com/wp-content/uploads/2018/08/ET-IMAGE-COMING-SOON-1000.jpg', alt: 'all-posts-photo' %>
          <% else %>
            <%= image_tag post.image_url, alt: 'all-posts-photo' %>
          <% end %>
          <p class="all-posts-location">Oslo</p>
          <p class="all-posts-description"><%= post.post_title.capitalize %></p>
          <span>€ <%= post.price %></span>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
